/* ========== POLICES ========== */

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway/Raleway-Regular.woff') format('woff'), url('../fonts/Raleway/Raleway-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway/Raleway-Bold.woff') format('woff'), url('../fonts/Raleway/Raleway-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway/Raleway-Italic.woff') format('woff'), url('../fonts/Raleway/Raleway-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}


/* ========== RESET ========== */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

/* ========== STYLES GENERAUX ========== */

body {
    font-family: "Raleway", sans-serif;
    color: #333333; /* rgb(23, 171, 179) */
}

h1,
h2,
h3 {
    font-family: "Lato", sans-serif;
}

h3 {
    font-weight: 700;
    color: #333333; /* rgb(23, 171, 179) */
}

header,
main,
footer {
    width: 100%;
}

/* ========== CONTAINER ========== */

.container {
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
}

/* ========== HEADER ========== */

header {
    display: flex;
    align-items: center;
    background-color: #17abb3; /* rgb(23, 171, 179) */
    padding: 100px;
}

header img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 300px;
}

.header-content {
    flex: 1;
}

.header-content ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.header-content li {
    display: flex;
    align-items: center;
    width: 50%;
}

.header-content li img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

header h1,
header h2,
header a,
header span {
    color: #ffffff; /* rgb(255, 255, 255) */
}

header h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

header h2 {
    font-size: 1.2rem;
    font-weight: 400;
}

/* ========== MAIN ========== */
/* ========== FOOTER ========== */
/* ========== SURVOLS ========== */